@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Roboto:wght@300&display=swap');

/* Colour theme. */

:root {
    --primary-color: #E9AAC1;
}

@media (prefers-color-scheme: light) {
    :root { 
        --bg-color: #f4f4f4;
        --font-color: #333333;
    }
}

@media (prefers-color-scheme: dark) {
    :root { 
        --bg-color: #333333;
        --font-color: #f4f4f4;
    }
}


/* Footer icon colors swap with theme. */

@media (prefers-color-scheme: light) {
    footer > a > img.light-theme { 
        display: inline;
    }

    footer > a > img.dark-theme {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    footer > a > img.light-theme { 
        display: none;
    }

    footer > a > img.dark-theme {
        display: inline;
    }
}


/* CSS resets. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}


/* Default font size for REM dimensions. */

:root {
    font-size: 11px;
}


/* Hide scrollbars across browsers. */ 

article,
#blog-posts {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

article::-webkit-scrollbar,
#blog-posts::-webkit-scrollbar {
    display: none;
}


/* Custom property declarations. */

:root {
    --header-height: 8rem;
    --footer-height: 8rem;
    --main-height: calc(100vh - var(--header-height) - var(--footer-height));
    --content-height-reduction: 2rem;
}


/* Core styles. */ 

body {
    width: 100vw;
    height: 100vh;
}

body,
header,
footer { 
    background-color: var(--bg-color);
}

header,
footer { 
    z-index: 999;
}

main,
header,
footer,
article,
#banner,
#blog-posts { 
    width: 100%;
    position: fixed;
}

header { 
    height: var(--header-height);
}

footer { 
    visibility: hidden; /* Hidden until page load, to avoid flash as icons re-position. */ 
    height: var(--footer-height);
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 2.5rem;
    bottom: 0;
}

footer > a > img { 
    height: calc(0.25 * var(--footer-height)); /* Icons constrained to % of footer height. */
}

main,
article,
#banner,
#blog-posts {
    height: var(--main-height);
}

main,
article,
#blog-posts { 
    top: var(--header-height); /* Offsets main to account for fixed header. */
}

header,
#banner {
    text-align: center;
}

header > p,
header > div { 
    margin-block-start: 1rem; /* Offsets text from top-edge of screen. */
}

footer,
#banner { 
    display: flex;
    justify-content: center;
}

#banner {
    flex-direction: column;
    align-items: center; /* Horizontally centers the banner. */
}

#banner > h1 {
    font-size: min(5vw, 5rem);
}

article,
#blog-posts { 
    padding-inline: 3rem; /* Adds space either side of page content. */
}

h1,
h2, 
p,
#blog-posts > a {
    color: var(--font-color);
}

h1,
h2,
h3,
h4,  
h5 {
    font-weight: lighter;
}

h1,
#blog-posts h3 { 
    font-family: 'Fredericka the Great', Arial, Helvetica, Sans-Serif;
}

p,
h2,
#blog-posts > a {
    font-family: 'Roboto', Helvetica, Sans-Serif;
}

header h2,
#blog-posts h4, 
#blog-posts h5 { 
    font-variant-caps: all-small-caps;
}

header h1 { 
    font-size: 2.6rem;
}

header h2 { 
    font-size: 1.7rem;
    margin-block: 0.5rem; /* Vertical spacing between sub-title and title. */
    display: inline-block;
    border-top: 0.1rem solid var(--primary-color); /* Horizontal rule between title & sub-title. */
}

header > p { 
    font-size: min(2.7vw, 1.4rem);
}

article p,
#blog-posts p {
    text-align: justify;
}

article p { 
    line-height: 2.6rem;
}

p,
#blog-posts h5 { 
    font-size: 1.4rem;
}

#blog-posts h3 { 
    font-size: 2rem;
}

#blog-posts h4 { 
    font-size: 1.6rem;
}

#blog-posts p { 
    line-height: 1.8rem;
    font-size: 1.3rem;
    margin-block-start: 0.75rem;
}

#blog-posts > a {
    display: block;
}

#blog-posts h5 { 
    display: inline;
}

#blog-posts h5:not(:last-child) { 
    margin-right: 2rem; /* Add right-hand spacing between all h5 elements, except last. */
}

article p,
#blog-posts a { 
    margin-inline: auto; /* Horizontal center alignment. */
    max-width: 75rem; /* Narrow column width for wide-screens. */
}

#blog-posts a:not(:last-child) { 
    padding-block-end: 1rem;
    border-bottom: 0.1rem solid var(--primary-color); /* Underline blog post links, except last. */
    margin-block-end: 0.75rem;
}

a {
    text-decoration: none;
}

a:hover,
a:focus { 
    opacity: 0.6;
}

a:active { 
    opacity: 0.4;
}

footer > a:hover > img {
    transform: scale(1.1, 1.1); /* Icons enlarge on hover. */
    transform-origin: center;
    transition: transform linear 0.05s;
}


/* Banner appears to 'type' onto the screen. */

#banner > h1 { 
    max-width: fit-content; /* Prevents caret from continuing to the screen edge. */
    overflow: hidden; /* Hides characters that have not yet been 'typed'. */
    white-space: nowrap; /* Ensures banner remains on a single line. */
    padding-inline: 0.3rem; /* Space between final character and caret. */
    border-right: .15em solid var(--primary-color); /* Simulates the caret. */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret 1s step-end infinite
}

@keyframes typing { 
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--primary-color); }
  }