@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Roboto:wght@300&display=swap');

/* Colour theme. */

:root {
    --primary-color: #E9AAC1;
    --secondary-color: #FCEDD7;
}

@media (prefers-color-scheme: light) {
    :root { 
        --bg-color: #f4f4f4;
        --font-color: #333333;
    }
}

@media (prefers-color-scheme: dark) {
    :root { 
        --bg-color: #333333;
        --font-color: #f4f4f4;
    }
}


/* CSS resets. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/* Default font size for REM dimensions. */

:root {
    font-size: 10px;
}


/* Hide scrollbars across browsers. */ 

p::-webkit-scrollbar {
    display: none;
}

p {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


/* Anchor tag effects. */

a:hover,
a:focus { 
    opacity: 0.6;
}

a:active { 
    opacity: 0.4;
}


/* Custom property declarations. */

:root {
    --body-padding: 1.5rem;
    --header-height: 4rem;
    --footer-height: 4rem;
}


/* Layout. */ 

body {
    width: 100vw;
    height: 100vh;
    padding: var(--body-padding);
    position: relative;
}

header,
footer { 
    z-index: 999;
}

footer { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 2.5rem;
    position: fixed;
    left: 0;
    bottom: var(--body-padding);
    height: var(--footer-height);
}

footer > a > img { 
    height: calc(0.7 * var(--footer-height));
}


/* Styles. */

body {
    background-color: var(--bg-color);
}

header,
footer { 
    background-color: none;
}

footer {
    visibility: hidden; /* Hidden until page load, to avoid flash as icons re-position. */ 
}


/* Footer icon colors swap with theme. */

@media (prefers-color-scheme: light) {
    footer > a > img.light-theme { 
        display: inline;
    }

    footer > a > img.dark-theme {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    footer > a > img.light-theme { 
        display: none;
    }

    footer > a > img.dark-theme {
        display: inline;
    }
}




main,
header {
    align-items: center;
}

main,
header,
header > ul {
    display: flex; 
}

p,
footer,
header > ul > li > a { 
    color: var(--font-color);
    font-family: 'Roboto', Helvetica, Sans-Serif;
}

header,
footer,
.banner { 
    width: 100%;
}

footer,
.banner { 
    text-align: center;
}

header { 
    height: var(--header-height);
    justify-content: end;
    padding-inline: 3rem;
}

header > ul { 
    list-style: none;
    column-gap: 3.5rem;
    font-size: max(1.3rem, min(1.75rem, 1.75vw));
}

main { 
    flex-direction: column;
    justify-content: center;
    height: var(--main-height);
}



h1 { 
    font-size: max(3vw, 3rem);
    font-family: 'Fredericka the Great';
}

p {
    max-width: 55vw;
    max-height: 95%;
    text-align: justify;
    font-size: 1.6rem;
    line-height: 3.2rem;
}



h1,
p {
    color: var(--font-color);
}

@media screen and (max-width: 900px) {
    p {
        font-size: 1.5rem;
        line-height: 3rem;
        max-width: 80%;
    }
}

@media screen and (max-width: 600px) {
    p {
        font-size: 1.4rem;
        line-height: 3rem;
        max-width: 90%;
    }
}

@media screen and (max-width: 400px) {
    header {
        justify-content: end;
    }

    p {
        font-size: 1.2rem;
        line-height: 2.4rem;
        max-width: 90%;
    }
}